body, html {
  overflow: scroll;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  min-height: 100vh;
  color: rgb(100, 17, 123);
}
body::before {
  content: "";
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1176470588);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(/src/style/img/4.jpg) no-repeat center center;
  background-image: url(/src/style/img/4.jpg);
  background-size: cover;
}
body::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.119);
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  max-width: 100%;
}
.header .header__logo {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(170, 99, 201), rgb(65, 10, 80));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .header__search-box {
  position: relative;
  margin: 0 auto;
  width: 65%;
}
.header .header__search-box .header__searchbar {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 30px;
}
.header .header__search-box .header__searchbar:hover {
  height: 72px;
  transition: 0.3s;
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.262);
}
.header .header__search-box .header__searchbar::-moz-placeholder {
  opacity: 0.3;
  font-size: 20px;
  text-align: center;
}
.header .header__search-box .header__searchbar::placeholder {
  opacity: 0.3;
  font-size: 20px;
  text-align: center;
}
.header .header__search-box .header__searchbar :focus::-webkit-input-placeholder {
  color: transparent;
}
.header .header__search-box input[type=text] {
  font-size: 20px;
}
.header .header__basket .header__basket-btn {
  padding: 25px 40px;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  background: linear-gradient(90deg, rgb(160, 95, 188), rgb(100, 17, 123));
}
.header .header__basket .header__basket-btn:hover {
  font-weight: 600;
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.262);
}
.header .header__basket .header__basket-btn:active {
  background: rgb(100, 17, 123);
}

@media (max-width: 1140px) {
  .header .header__search-box {
    width: 55%;
  }
  .header .header__search-box .header__searchbar {
    height: 65px;
    padding: 10px;
  }
  .header .header__search-box .header__searchbar:hover {
    height: 67px;
  }
  .header .header__search-box .header__searchbar:hover + .header__search-btn {
    right: 25px;
  }
  .header .header__search-box .header__search-btn {
    height: 27px;
    top: 20px;
    right: 35px;
  }
  .header .header__search-box .header__search-btn:hover {
    right: 25px;
  }
  .header .header__basket-btn {
    padding: 23px 40px;
  }
}
@media (max-width: 886px) {
  .header {
    padding: 20px 25px;
  }
  .header .header__logo {
    font-size: 26px;
  }
  .header .header__search-box {
    width: 52%;
  }
  .header .header__search-box .header__searchbar {
    height: 65px;
    padding: 10px;
  }
  .header .header__search-box .header__searchbar:hover {
    height: 67px;
  }
  .header .header__search-box .header__searchbar:hover + .header__search-btn {
    right: 25px;
  }
  .header .header__search-box .header__searchbar::-moz-placeholder {
    font-size: 18px;
  }
  .header .header__search-box .header__searchbar::placeholder {
    font-size: 18px;
  }
  .header .header__search-box input[type=text] {
    font-size: 17px;
  }
  .header .header__basket-btn {
    padding: 23px 30px;
    font-size: 15px;
  }
  .header .header__search-btn {
    height: 29px;
    top: 18px;
    right: 35px;
  }
  .header .header__search-btn:hover {
    right: 25px;
  }
}
@media (max-width: 720px) {
  .wrapper {
    max-width: 95%;
  }
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .header .header__logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
  }
  .header .header__search-box {
    width: 80%;
  }
  .header .header__search-box .header__searchbar {
    height: 60px;
    padding: 10px;
  }
  .header .header__search-box .header__searchbar:hover {
    height: 62px;
  }
  .header .header__search-btn {
    height: 26px;
    top: 17px;
    right: 30px;
  }
  .header .header__basket .header__basket-btn {
    font-size: 0;
    background: url(/src/style/img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    padding: 30px 45px;
    border-radius: 20px;
    background-color: rgb(86, 24, 149);
  }
  .header .header__basket .header__basket-btn:active {
    background: url(/src/style/img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
    padding: 31px 46px;
    border-radius: 20px;
    background-color: rgb(100, 17, 123);
    transition: all 0.1s;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 20px 20px 15px 15px;
  }
  .header .header__logo {
    font-size: 35px;
  }
  .header .header__search-box {
    width: 75%;
    margin: 0;
  }
  .header .header__search-box .header__searchbar {
    height: 44px;
    padding: 10px;
  }
  .header .header__search-box .header__searchbar:hover {
    height: 44px;
    box-shadow: none;
  }
  .header .header__search-box .header__searchbar::-moz-placeholder {
    font-size: 13px;
  }
  .header .header__search-box .header__searchbar::placeholder {
    font-size: 13px;
  }
  .header .header__search-box .header__searchbar :focus::-webkit-input-placeholder {
    color: none;
  }
  .header .header__search-box input[type=text] {
    font-size: 13px;
  }
  .header .header__search-btn {
    display: none;
  }
  .header .header__basket .header__basket-btn {
    font-size: 0;
    background: url(/src/style/img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 22px 40px;
    border-radius: 20px;
    background-color: rgb(86, 24, 149);
  }
  .header .header__basket .header__basket-btn:hover {
    box-shadow: none;
  }
  .header .header__basket .header__basket-btn:active {
    font-size: 0;
    background: url(/src/style/img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 22px 40px;
    border-radius: 20px;
    background-color: rgb(86, 24, 149);
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}
.swiper-container .swiper-slide img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: rgb(111, 6, 137);
}
.swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  background-color: rgb(92, 16, 163);
}

@media (max-width: 1024px) {
  .swiper-container {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .swiper-container {
    height: 250px;
  }
}
@media (max-width: 786px) {
  .swiper-container {
    height: 200px;
  }
  .wrapper {
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .swiper-container {
    height: 180px;
  }
}
@media (max-width: 540px) {
  .swiper-container {
    height: 150px;
  }
}
@media (max-width: 480px) {
  .swiper-container {
    height: 130px;
  }
  .wrapper {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .swiper-container {
    height: auto;
  }
}
.card {
  width: 200px;
  height: 420px;
  margin: 0 5px;
}
.card .card__picture {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
  max-width: 100%;
  margin: auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card .card__picture:hover {
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.462);
}
.card .card__picture .product-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 2px solid rgb(100, 17, 123);
  border-radius: 20px;
}
.card .card__picture .view__container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 82%;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.card .card__picture .view__container:hover {
  opacity: 1;
  cursor: pointer;
  transition-delay: 0.2s;
}
.card .card__picture .view__container .view__card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  background: linear-gradient(90deg, rgb(160, 95, 188), rgba(100, 17, 123, 0.417));
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  width: 85%;
  height: 30px;
  transform: translateX(-50%);
}
.card .card__picture .discount__and__basket {
  position: absolute;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.card .card__picture .discount__and__basket .discount {
  color: #250033;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.card .card__picture .discount__and__basket .discount, .card .card__picture .discount__and__basket .price {
  font-size: 18px;
  font-weight: 700;
}
.card .card__picture .discount__and__basket .btn-basket {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-image: url(./img/basket2.png);
  background-size: 24px 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(100, 17, 123, 0.811);
}
.card .card__picture .discount__and__basket .btn-basket-ok {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-image: url(./img/ok.png);
  background-size: 24px 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(100, 17, 123, 0.811);
}

.card__description .card__price {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.card__description .card__price .card__name {
  margin-left: 30px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: rgb(81, 0, 113);
}
.card__description .card__price .card__name:hover {
  text-decoration: underline;
}
.card__description .card__price .hide__description,
.card__description .card__price .hide__card__name,
.card__description .card__price .hide__view__card-btn {
  display: none;
}
.card__description .card__price .old-price {
  text-decoration: line-through;
}

.basket__modal {
  padding: 20px;
  overflow-y: scroll;
  color: #a80ec6;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
}
.basket__modal .basket__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  min-width: 500px;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.basket__modal .basket__container .basket__header-modal {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.basket__modal .basket__container .basket__header-modal .basket__btn-close {
  background-color: #fff;
  border-radius: 10px;
  color: #a80ec6;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.basket__modal .basket__container .basket__header-modal .basket__btn-close:hover {
  background-color: #e15bfc;
}
.basket__modal .basket__container .basket__list-modal {
  padding: 0 10px;
  overflow-y: scroll;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal {
  display: flex;
  justify-content: space-between;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .card__img-modal {
  margin-left: 10px;
  width: 120px;
  border-radius: 5px;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .basket__description-modal {
  align-items: flex-start;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .basket__description-modal .item__price {
  padding-top: 10px;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .basket__description-modal .item__old-price {
  text-decoration: line-through;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .btn_delete-item {
  width: 20%;
  height: 80%;
  color: #fff;
  background: linear-gradient(90deg, #a05fbc, rgba(100, 17, 123, 0.417));
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.basket__modal .basket__container .basket__list-modal .card__basket-modal .btn_delete-item:hover {
  font-weight: 600;
}
.basket__modal .basket__container .basket__list-modal li {
  padding: 10px 0;
}
.basket__modal .basket__container .basket__options {
  padding: 10px;
}
.basket__modal .basket__container .basket__options .basket__btn-clear {
  max-width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: inherit;
  padding: 10px 30px;
  color: #fff;
  background: linear-gradient(90deg, #a05fbc, rgba(100, 17, 123, 0.417));
  border-radius: 10px;
}
.basket__modal .basket__container .basket__options .basket__btn-clear:hover {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */