*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

button {
  cursor: pointer;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  min-height: 100vh;
  color: rgb(100, 17, 123);
}

body::before {
  content: "";
  z-index: -1;
  background-color: #ffffff1e;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(./img/4.jpg) no-repeat center center;
  background-image: url(./img/4.jpg);
  background-size: cover;

}
body::after{
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.119);

}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  max-width: 100%;
} 

.highlight {
  background-color: rgb(132 84 145 / 72%);
  border-radius: 7px;
}

.hidden {
  display: none;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(170, 99, 201), rgb(65, 10, 80));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__search-box {
  position: relative;
  margin: 0 auto;
  width: 65%;
}


.header__searchbar {
  width: 100%;
  height: 70px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 10px 10px 30px;
}


.header__searchbar:hover {
  height: 72px;
  transition: .3s;
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.262);
}

.header__search-btn {
  height: 30px;
  position: absolute;
  top: 20px;
  right: 45px;
  transition: all .1s;
}

.header__search-btn:hover {
  cursor: pointer;
  right: 30px;
}

.header__searchbar:hover + .header__search-btn {
  right: 30px;
}

.header__searchbar::placeholder {
  opacity: .3;
  font-size: 20px;
  text-align: center;
}

input[type="text"] {
  font-size: 20px;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.header__basket-btn {
  padding: 25px 40px;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  background: linear-gradient(90deg, rgb(160, 95, 188), rgb(100, 17, 123));
}

.header__basket-btn:hover {
  font-weight: 600;
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.262);
}

.header__basket-btn:active {
  background: rgb(100, 17, 123);
}

@media (max-width: 1140px) {

  .header__search-box {
    width: 55%;
  }

  .header__searchbar {
    height: 65px;
    padding: 10px;
  }

  .header__searchbar:hover {
    height: 67px;
  }

  .header__search-btn {
    height: 27px;
    top: 20px;
    right: 35px;
  }
  
  .header__search-btn:hover {
    right: 25px;
  }
  
  .header__searchbar:hover + .header__search-btn {
    right: 25px;
  }


  .header__basket-btn {
    padding: 23px 40px;
  }
}

@media (max-width: 886px) {
  .header {
    padding: 20px 25px;
  }

  .header__logo {
    font-size: 26px;
  }

  .header__search-box {
    width: 52%;
  }

  .header__searchbar {
    height: 65px;
    padding: 10px;
  }

  .header__searchbar:hover {
    height: 67px;
  }

  .header__search-btn {
    height: 29px;
    top: 18px;
    right: 35px;
  }
  
  .header__search-btn:hover {
    right: 25px;
  }
  
  .header__searchbar:hover + .header__search-btn {
    right: 25px;
  }

  .header__searchbar::placeholder {
    font-size: 18px;
  }
  
  input[type="text"] {
    font-size: 17px;
  }

  .header__basket-btn {
    padding: 23px 30px;
    font-size: 15px;
  }
}

@media (max-width: 720px) {
  .wrapper {
    max-width: 95%;
  }

  .header {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .header__logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
  }

  .header__search-box {
    width: 80%;
  }

  .header__searchbar {
    height: 60px;
    padding: 10px;
  }

  .header__searchbar:hover {
    height: 62px;
  }

  .header__search-btn {
    height: 26px;
    top: 17px;
    right: 30px;
  }

  .header__basket-btn {
    font-size: 0;
    background: url(./img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    padding: 30px 45px;
    border-radius: 20px;
    background-color: rgb(86 24 149);
  }

  .header__basket-btn:active {
    background: url(./img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
    padding: 31px 46px;
    border-radius: 20px;
    background-color: rgb(100, 17, 123);
    transition: all .1s;
  }

}

@media (max-width: 576px) {
  .header {
    padding: 20px 20px 15px 15px;
  }

  .header__logo {
    font-size: 35px;
  }

  .header__search-box {
    width: 75%;
    margin: 0;
  }

  .header__searchbar {
    height: 44px;
    padding: 10px;
  }

  .header__searchbar:hover {
    height: 44px;
    box-shadow: none;
  }

  .header__search-btn {
    display: none;
  }

  .header__searchbar::placeholder {
    font-size: 13px;
  }
  
  input[type="text"] {
    font-size: 13px;
  }

  :focus::-webkit-input-placeholder {
    color: none;
  }

  .header__basket-btn {
    font-size: 0;
    background: url(./img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 22px 40px;
    border-radius: 20px;
    background-color: rgb(86 24 149);
  }
  
  .header__basket-btn:hover {
    box-shadow: none;
  }

  .header__basket-btn:active {
    font-size: 0;
    background: url(./img/2205959_cart_bag_internet_shopping_buy_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 22px 40px;
    border-radius: 20px;
    background-color: rgb(86 24 149);
  }
}

/* Slider-swiper style */

.swiper-container{
    width: 100%;  
    height: 100%;
    margin: 20px 0;
  
}

.swiper-slide img{   
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev{
    color: rgb(111, 6, 137);
    
}

.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    background-color: rgb(92, 16, 163);
}

/* modal window */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}
#modal__image {
  width: 70%;
  height: 70%;
  border-radius: 20px;
}
.modal__description {
  width: 52%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.modal__content {
  background-color: #f9bde8d1;
  margin: 4vh auto; 
  padding: 20px;
  border: 1px solid #888;
  max-width: 44%;
  text-align: center;
  border-radius: 20px;
}

.modal__close {
  color: #4d4d4d;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin-left: -20px;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* main-styles */


.main__cards {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 420px;
  margin: 0 5px;
}

.main__header {
  margin: 80px 20px 50px 160px;
  font-size: 32px;
  line-height: 50px;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  position: relative;
  background: white;
  mix-blend-mode: multiply;
  overflow: hidden;
  text-transform: uppercase;
}

.main__header-search {
  color: #5c10a3;
  margin: 50px 10px;
  font-size: 22px;
}

.main__header::before {
  content: '';
  position: absolute;
  filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode:lighten;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #ffffff 1em, #e15bfc 50%), repeating-linear-gradient(45deg, #4800ff, #ff0404 1em, #def200 1em, #3a0000 50%);
  background-size: 3em 3em, 2em 2em;
  animation-name: ani;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.card__picture {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
  max-width: 100%;
  margin: auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card__picture:hover {
  box-shadow: 2px 5px 5px rgba(83, 83, 83, 0.462);
}
.product-img {
  width: 100%;
  height: auto;
  overflow: hidden;
   border: 2px solid rgb(100, 17, 123); 
   border-radius: 20px;
}

.discount__and__basket {
  position: absolute;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.discount, .price {
  font-size: 18px ;
  font-weight: 700;
} 

.discount {
  color: #250033;
  -webkit-text-stroke: .5px rgb(255, 255, 255);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.view__container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 82%;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.view__container:hover {
  opacity: 1;
  cursor: pointer;
  transition-delay: 0.2s;
}
.view__card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  background: linear-gradient(90deg, rgb(160, 95, 188), rgba(100, 17, 123, 0.417));
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  border-radius: 5px;
  width: 85%;
  height: 30px;
  transform: translateX(-50%);
}

.btn-basket {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-image: url(./img/basket2.png);
  background-size: 24px 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-color:  rgba(100, 17, 123, 0.811);
}

.card__price {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.card__name {
  margin-left: 30px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color:  rgb(81, 0, 113);
}

.card__name:hover {
  text-decoration: underline;
}

.hide__description,
.hide__card__name,
.hide__view__card-btn  {
  display: none;
}
.old-price {
  text-decoration: line-through;
}


@media  only screen and  (max-width: 1300px) {
  .modal__content {
    max-width: 50%;
  }
}
@media  only screen and  (max-width: 1200px) {
  .modal__content {
    max-width: 55%;
  }
}
@media  only screen and  (max-width: 1024px) {
  .swiper-container{
    height: 300px;
  }
  .card {
    width: 22%;
    height: 420px;
  }
  .modal__content {
    margin: 5vh auto; 
  }
}
@media only screen and (max-width:900px){
  .swiper-container{
    height: 250px;
  }
  .modal__content {
    max-width: 65%;
  }
}
@media only screen and (max-width:768px){
  .swiper-container{
    height: 200px;
  }
  .wrapper {
    max-width: 95%;
  }
  .view__container:hover {
    opacity: 0;
    cursor: auto;
  }
  .card__name:hover {
    text-decoration: none;
  }
  .card__picture:hover {
    box-shadow: none;
  }
  .main__header {
    font-size: 24px;
    line-height: 30px;
  }
  .card {
    width: 30%;
    height: auto;
  }
  .card__picture {
    max-width: 95%;
    height: 60%;
  }
  .view__card-btn {
    opacity: 2;
  }
  .card__description {
    width: 100%;
    margin-left: 5px;
  }
  .card__price {
    display: block;
  }
  .hide__description,
  .hide__card__name,
  .hide__view__card-btn {
    display: inline-block;
    font-size: 14px;
  }
  .hide__view__card-btn {
    border: none;
  background: linear-gradient(90deg, rgb(160, 95, 188), rgba(100, 17, 123, 0.417));
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  border-radius: 5px;
  max-width: 230px;
  padding: 7px;
  min-height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  }
  .hide__card__name {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }
  .card__name {
    display: none;
  }
  .new__price, .old-price {
    margin: 5px 0;
  }

  .main__header {
    margin-left: 20%;
  }
  .modal__content {
    max-width: 75%;
  }
}

@media only screen and (max-width:600px){
  .swiper-container{
    height: 180px;
  }
}
@media only screen and (max-width:540px){
  .swiper-container{
    height: 150px;
  }
}
@media only screen and (max-width:480px){
  .swiper-container{
    height: 130px;
  }
  .wrapper {
    width: 95%;
  }
  .main__header {
    font-size: 20px;
    margin: 10%;
  }
  .hide__card__name {
    font-size: 18px;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 30%;
    align-items: center;
    margin-bottom: 40px;
  }
  .card__picture {
    width: 100%;
    height: 200px;
  }
  .new__price, .old-price,.hide__description {
    font-size: 14px;
  }
  .hide__view__card-btn {
    width: 160px;
  }
  .card__description {
    margin-left: 20px;
  }
  #modal__title {
    font-size: 13px;
  }
  #modal__price {
    font-size: 13px;
  }
  .modal__content {
    margin: 20vmin auto; 
    max-width: 75%;
    font-size: 13px;
  }
  .modal__description {
    width: 67%;
  }
  .main__header-search {
    color: #5c10a3;
    margin: 25px 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width:400px){
  .swiper-container{
    height: auto;
  }
   .hide__view__card-btn {
    max-width: 100px;
  }
}
/* slider swiper style end */



/*Basket modal style start*/

.basket__modal{
  overflow: auto;
  color: #a80ec6;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0,0.8)
}
.basket__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  width: 500px;
  position: absolute;
  top:10%;
  left: 35%;
  border-radius: 10px;
  
}
.basket__header-modal{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  
}
.basket__options{
  padding: 10px;
}
.basket__list-modal li{
padding: 10px 0;
}
.basket__btn-close{
  background-color: #fff;
  border-radius: 10px;
  color: #a80ec6;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.basket__btn-close:hover{
  background-color: #e15bfc;
}
.basket__btn-clear{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgb(211, 176, 232);
  border-radius: 10px;

}
.basket__btn-clear:hover{
  background-color: #eed2f4;
}

.card__img-modal{
  margin-left: 10px;
  width: 100px;
  border-radius: 5px;
}
.item__price{
  padding-top: 10px;
}
.card__basket-modal{
  display: flex;
  justify-content: space-between;
}
.btn_delete-item{
  width: 20%;
  height: 80%;
  background-color: inherit;
  color: inherit;
  padding: 5px;
  border: 1px solid #a80ec6;
  border-radius: 10px;
  cursor: pointer;
}
.btn_delete-item:hover{
  background-color: #e15bfc;
}
.basket__description-modal{
  align-items: flex-start;
}
.item__old-price{
  text-decoration: line-through;
}
/*basket modal style end*/